body{
    background: -webkit-gradient(linear, left top, right top, from(#2a1cf1), to(#ce6c6c));
}

h1{
    color: transparent;
    background: url(imagens/images.jfif) repeat;
    -webkit-background-clip: text;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    font-size: 55px;
}